.player {
  width: 100%;
  overflow: auto;
  background: white;
  position: relative;
  height: 100%;
}

.player .audioElements__timeNameContainer___2meEl {
  width: 200px;
}

.player .audioElements__timeContainer___1gIBH {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.player .audioReset__rootContainer___3Mabj.audioComponents__audio___3fmqb {
  width: 100%;
  height: 100%;
}

.player .audioReset__rootContainer___3Mabj.audioComponents__audio___3fmqb {
  width: 100% !important;
  height: auto !important;
}

.player .audioElements__commentsWrapper___Gf4GH {
  justify-content: center;
}

.player .audioElements__commentsWrapperBackground___3avoO {
  filter: blur(10px) !important;
}

.player .audioElements__commentsWrapper___Gf4GH {
  height: 200px !important;
}

.player .player-bg-video {
  width: 100%;
  height: 100%;
}
