.search {
  align-self: stretch;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.search .input {
  background: white;
  display: flex;
}

.search .input input {
  width: auto;
  border: 0;
  font-size: 16px;
  text-indent: 15px;
  line-height: 50px;
  flex-grow: 1;
}

.search .input span.zmdi {
  font-size: 30px;
  opacity: 0.5;
  flex: 0.5;
  text-align: center;
  line-height: 50px;
}

.search ul {
  list-style-type: none;
}

.search-result-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #eeeeee 0%, #ffffff 100%);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
}

.search-result-item button {
  border: 0;
  background: white;
  cursor: pointer;
  font-size: 22px;
  padding: 0;
  text-align: center;
}

.search-result-item button.play {
  width: 35px;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 35px;
}

.search-result-item button.more {
  width: 25px;
  background: transparent;
}

.search-result-item button span.zmdi {
  height: 100%;
  line-height: 35px;
  opacity: 0.75;
}

.search-result-item p {
  font-size: 14px;
  flex-grow: 1;
  padding: 0 10px;
}

.search-result-item .actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;
  height: 0;
  overflow: hidden;
}

.search-result-item .actions button {
  width: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 15px;
  margin: 5px 0;
}

.search-result-item .actions button span:not(.zmdi) {
  font-size: 15px;
  margin-left: 15px;
}

.search-result-item .actions.expanded {
  height: 50px;
}
