.playlist-manager-container {
  overflow-y: auto;
  max-height: 66.3vh;
}

.playlist-manager {
  background: linear-gradient(135deg, #fffeff 0%, #d7fffe 100%);
  align-self: flex-start;
  width: 100%;
  height: max-content;
  overflow-y: auto;
}

.playlist-manager .title {
  margin: 15px 0 15px 5px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.75;
}

.playlist-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background: white;
  flex-wrap: wrap;
}

.playlist-item .song-count,
.playlist-item .playlist-title {
  flex-grow: 1;
}

.playlist-item .song-count {
  text-align: right;
}

.playlist-item button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.playlist-item button span.zmdi {
  line-height: 30px;
}

.playlist-item .play {
  margin-right: 10px;
  background: white;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.playlist-item .expand span.zmdi {
  transition: all 0.2s ease-in-out;
}

.playlist-item .expand span.zmdi.rotate {
  transform: rotate(180deg);
}

.playlist-item .song-count {
  margin-right: 10px;
}

.playlist-item .playlist-content {
  width: 100%;
  text-indent: 5px;
  height: 0;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
}

.playlist-item .playlist-content.expanded {
  height: 150px;
  margin-top: 10px;
}

.playlist-content-title {
  word-wrap: none;
  opacity: 0.75;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-content-title span {
  flex-grow: 1;
}

.playlist-content-title button {
  font-size: 16px;
}
