.queue-manager-container {
  overflow: auto;
  max-height: 66.3vh;
}

.queue-manager {
  align-self: flex-start;
  width: 100%;
  height: max-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.queue-manager .title,
.playlist-manager .title {
  margin: 15px 0 15px 5px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.75;
  display: flex;
}

.queue-manager .title > span,
.playlist-manager .title > span {
  flex-grow: 1;
}

.queue-manager .title > button,
.playlist-manager .title > button {
  width: 25px;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
  padding: 0;
  text-align: center;
  border: 0;
  margin: 0 5px;
}

.queue-manager .title > button:last-child,
.playlist-manager .title > button:last-child {
  margin-right: 15px;
}

.queue-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  cursor: move;
}

div.dragged {
  transition: transform 0.2s linear;
  transform: scale(1.01);
  border: 2px solid rgb(228, 52, 52);
}

.queue-item .queue-item-title,
.queue-item .duration {
  flex-grow: 1;
  margin-right: 10px;
}

.queue-item .duration {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  opacity: 0.5;
}

.queue-item button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.queue-item button span.zmdi {
  line-height: 30px;
}

.queue-item .play {
  margin-right: 10px;
  background: white;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
