* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

*:focus,
*:active {
  outline: none;
}

button:disabled {
  cursor: default !important;
}

.app > .grid:first-child {
  height: 100vh;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.grid.vertical {
  flex-direction: column;
  height: 100vh;
}

.grid .left,
.grid .right,
.grid .top,
.grid .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .grid {
  align-self: stretch;
  justify-self: stretch;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}

.bg-gradient-red {
  background: linear-gradient(135deg, #f5515f 0%, #a1051d 100%);
}

.bg-gradient-grey {
  background: linear-gradient(135deg, #656d77 0%, #2f363f 100%);
}

.bg-gradient-light-red {
  background: linear-gradient(135deg, #fc6e51 0%, #da391e 100%);
}

.bg-gradient-white {
  background: linear-gradient(135deg, #fffeff 0%, #d7fffe 100%);
}
